
body {
	-webkit-font-smoothing: antialiased;
	font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

nav ol {
	text-align: center;
}

nav li {
	display: inline-block;
	list-style-type: none;
}

table {
	margin-left: auto;
	margin-right: auto;
}

table tr .currentPhase {
	background-color: lightblue;
}

ol.ruleList {
	list-style-type: none;
}

footer {
	text-align: center;
}
